<div class="grid grid-cols-2">
  <main class="py-[10%] px-[10%]">
    <header>
      <div class="flex items-center">
        <img id="logo" src="../../assets/images/logo.png" alt="logo" />
        <span id="logo-font" class="ml-[2%]">Nurse Scheduling</span>
      </div>
      <article class="flex-col text-center">
        <h1 class="mt-[10%]" id="signin">Create A Strong Password</h1>
        <h2 class="mt-[1%]" id="pleaseenteryouraccountdetails">
          Your password must be at least 8 characters and
        </h2>
        <h2 class="mt-[1%]" id="pleaseenteryouraccountdetails">
          should include a combination of number, letters
        </h2>
        <h2 class="mt-[1%]" id="pleaseenteryouraccountdetails">
          and special character (!$%).
        </h2>
      </article>
    </header>
    <form>
      <div>
        <input
          class="mt-[1.5%]"
          type="text"
          placeholder="New password"
        />
        <input
          class="mt-[1.5%]"
          type="text"
          placeholder="New password, again"
        />
      </div>
    </form>
    <section class="flex justify-center mt-[4%]">
      <button id="sigin-button" type="submit"><div>Reset password?</div></button>
    </section>
  </main>
  <figure class="flex justify-center items-center">
    <img
      class="h-screen w-screen p-[2%]"
      src="../../assets/images/login.png"
      alt="login"
    />
  </figure>
</div>
